
<table style="text-align:center"><caption><strong>OLS Models</strong></caption>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="3"><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="3" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td colspan="3">bldg_value_log</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">property_age</td><td>-0.004<sup>***</sup></td><td>-0.010<sup>***</sup></td><td>0.0001</td></tr>
<tr><td style="text-align:left"></td><td>(0.001)</td><td>(0.001)</td><td>(0.001)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">total_bath</td><td>-0.055<sup>**</sup></td><td>-0.158<sup>***</sup></td><td>0.071<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.024)</td><td>(0.043)</td><td>(0.027)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">bedrooms</td><td>-0.124<sup>***</sup></td><td>-0.127<sup>***</sup></td><td>-0.123<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.018)</td><td>(0.027)</td><td>(0.022)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">distance_trail_mts</td><td>0.0001<sup>**</sup></td><td>-0.0001<sup>***</sup></td><td>0.0001<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.00002)</td><td>(0.00004)</td><td>(0.00003)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">heated_area_sqft</td><td>0.00002<sup>***</sup></td><td>0.00001<sup>***</sup></td><td>0.00003<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.00000)</td><td>(0.00000)</td><td>(0.00000)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">land_area_sq_ft</td><td>0.00000<sup>***</sup></td><td>0.00000<sup>***</sup></td><td>0.00000<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.00000)</td><td>(0.00000)</td><td>(0.00000)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">east_westwest</td><td>-0.052<sup>*</sup></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td>(0.027)</td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>12.327<sup>***</sup></td><td>12.971<sup>***</sup></td><td>11.772<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.055)</td><td>(0.084)</td><td>(0.058)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>1,869</td><td>753</td><td>1,116</td></tr>
<tr><td style="text-align:left">R<sup>2</sup></td><td>0.564</td><td>0.670</td><td>0.535</td></tr>
<tr><td style="text-align:left">Adjusted R<sup>2</sup></td><td>0.562</td><td>0.667</td><td>0.532</td></tr>
<tr><td style="text-align:left">Residual Std. Error</td><td>0.536 (df = 1861)</td><td>0.551 (df = 746)</td><td>0.472 (df = 1109)</td></tr>
<tr><td style="text-align:left">F Statistic</td><td>343.214<sup>***</sup> (df = 7; 1861)</td><td>252.509<sup>***</sup> (df = 6; 746)</td><td>212.663<sup>***</sup> (df = 6; 1109)</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="3" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
